.heym-wrapper {
  padding: 5% 10%;
  min-height: 100vh;
  background-color: #efefef;
}
.heym-wrapper h2 {
  margin-bottom: 10vh;
}
.heym-wrapper p {
  padding-top: 3vh;
  text-align: justify;
}
