.back-arrow {
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 100;
  padding: 0.4rem;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.back-arrow:hover {
  transform: scale(1.1);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.back-arrow svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #333;
}
