.music-wrapper {
  padding: 5% 10%;
  background-color: #efefef;
}
.music-wrapper h4 {
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 5vh;
}
.music-wrapper span {
  display: block;
}
.music-wrapper div:first-of-type {
  padding-bottom: 5vh;
}
.music-wrapper figure {
  padding-bottom: 5vh;
}
.music-wrapper p {
  text-align: justify;
}
.music-wrapper a {
  color: black;
}
.video-wrapper {
  padding-top: 10vh;
}
