.views-wrapper {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  transition: background-image 0.5s ease-in-out;
}

.views-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.views-wrapper h2 {
  position: absolute;
  top: 5%;
  left: 5%;
  color: black;
}

/* .views-wrapper {
  transition: background-image 0.5s ease-in-out;
  background-size: cover;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.views-wrapper h2 {
  padding: 5%;
} */
