.home {
  height: 100vh;
  background-color: #efefef;
}
.homeWrapper {
  position: relative;
  background-color: #efefef;
}

.homeWrapper a {
  color: white;
  padding: 0.5rem;
}
.homeWrapper a:hover {
  color: black;
  transform: scale(1.3);
}
.homeWrapper h1 {
  font-size: 3.3rem;
  font-weight: normal;
  position: absolute;
  top: 9%;
  left: 10%;
  color: black;
  z-index: 100;
}
.about {
  position: absolute;
  top: 32.3%;
  left: 70.8%;
}
.contact {
  position: absolute;
  top: 61.5%;
  left: 70%;
}
.texts {
  position: absolute;
  top: 30.1%;
  left: 43.4%;
}
.views {
  position: absolute;
  top: 47%;
  left: 56%;
}
.works {
  position: absolute;
  top: 35.5%;
  left: 24.2%;
}
.music {
  position: absolute;
  top: 57.5%;
  left: 23.5%;
}
.imprint {
  position: absolute;
  top: 63.3%;
  left: 41.5%;
}

.homeTiles {
  background-color: #efefef;
  margin-top: -10%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 1%;
  position: relative;
}
