.hirsch-wrapper {
  padding: 5% 10%;
  min-height: 100vh;
  background-color: #efefef;
}
.hirsch-wrapper h2 {
  margin-bottom: 10vh;
}
.hirsch-content p {
  padding-top: 3vh;
  text-align: justify;
}
.hirsch-quotations {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr auto;
}
.hirsch-quotations span {
  width: 4vw;
}
